/* button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
} */

/* button:hover {
    animation: pulse 0.4s linear;
}  */


.liked {
    fill: var(--colar-color);
    transition: .3s;
    /* animation: mypulse 0.4s linear;
    width: 100%;
    height: 100%; */
}

svg {
    width: 80%;
    height: 80%;
    
    /* z-index: 2; */
    /* position: absolute; */
}

@keyframes mypulse {
    40% {
        width: 90%;
        height: 90%;
    }

    60% {
        width: 100%;
        height: 100%;
    }

    80% {
        width: 90%;
        height: 90%;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}


@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}